@model IEnumerable<adv_demo.Models.Database.Product>

@{
    ViewBag.Title = "Products";
}

<div class="row">
    <div class="col-xs-12">
        @Html.ActionLink("Create New", "Create")
    </div>
    <div class="col-xs-12">
        <table class="table">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ThumbNailPhoto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Color)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StandardCost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ListPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Size)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Weight)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductCategory.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductModel.Name)
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img class="img-thumbnail img-responsive" src="@Url.Content("~/Content/Assets/product.jpg")" height="50"/>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StandardCost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ListPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Size)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Weight)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductCategory.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductModel.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new {id = item.ProductID}) |
                        @Html.ActionLink("Delete", "Delete", new {id = item.ProductID})
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>


@section scripts
{
    <script>
        $(document).ready(function () {
            $('table').DataTable({
                responsive: true
            });
        })
    </script>
}
